<%# <header class="navbar navbar-fixed-top navbar-inverse"> %>
<%# <div class="container"> %>
<%# <%= link_to "Bugzilla", '#', id: "logo" %>
<%# <nav> %>
<%# <ul class="nav navbar-nav navbar-right"><li><%= link_to "Home",home_path, class: "set-color"%>
<%# <li><%= link_to "Log in",login_path, class: "set-color"%>
<%# <li><%= link_to "Sign up", signup_path, class: "set-color"%>
<%# </ul> %>
<%# </nav> %>
<%# </div> %>
<%# </header> %>

<%# <ul>
<%  @user.map do |u| %>
  <%# <li> %>
    <%# <%= u.name %>
   <%# </li> %>
<%# <% end  %>
<%# </ul>  %>

<h1 class="text-center">Welcome to BugZilla !</h1>
